<div class="page-title">
  <div class="title_left">
    <h3>Danh sách Hàng hóa</h3>
  </div>
  <div class="title_right">
    
  </div>
</div>

<!-- page content -->
        <div class="right_col" role="main">          

         <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Bán hàng <small>Chi tiết bán hàng</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li> -->
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content_center">
                <div class="dashboard-widget-content">
                  <div class="col-md-4 hidden-small">
                    <!--<h2 class="line_30">125.7k Views from 60 countries</h2>-->
                    <div class="input-group">
                      <div *ngIf="isTaoDonHang" class="help-block">
                          <p><i class="fa fa-square green"></i> Tạo xong đơn hàng </p>
                      </div>
                      <div *ngIf="isXoaDonHang" class="help-block">
                        <p><i class="fa fa-square red"></i> Xóa đơn hàng </p>
                      </div>          
                      <input type="text" class="form-control" name="mavach" focus="true" (keyup)="loadKeyCode($event)" (keyup.enter)="loadHangHoa()"
                        [(ngModel)]="mavach" placeholder="Gõ mã vạch, tên hàng...">
                      <input type="number" class="form-control" name="soluong" (keyup.enter)="loadHangHoa()" [(ngModel)]="soluong" placeholder="Số lượng..">
                    </div>
                    <table class="countries_list">
                      <thead>
                        <tr>
                          <th>Mã vạch</th>
                          <th>Tên hàng</th>                                           
                          <th>Tiền bán</th>
                          <th>Số lượng</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let bhct of hangbanct">
                          <td>{{bhct.BanHangID}} </td>
                          <td class="fs15 fw700 text-right">33%</td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  <div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>
                </div>
              </div>
            </div>
          </div>

         </div>
          <br />

        </div>
        <!-- /page content -->